.background_header{
  background: url('http://swc.one/skismoring/guille-pozzi-364908-unsplash.jpg') center / cover;
  height: -webkit-fill-available;
}
.mdl-layout__content{
  margin: auto;
}

.buttons_center{
  margin-top: 4rem;
}
.buttons_center P{
  font-size: 22px;
  margin: auto;
  display: table;
}
.headertext {
    color: rgba(0,0,0,.54);
    font-size: 1.2rem;
    /* line-height: 18px; */
    /* overflow: hidden; */
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 3px;
    padding-right: 3px;
    width: 100%;
    text-align: center;
    background-color: rgba(162, 210, 247, 0.17);
}

.headerptext{
  color: rgba(0,0,0,.54);
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0,0,0,.1);
}
.supportertext {
    color: rgba(0,0,0,.54);
    font-size: 1rem;
    /* line-height: 18px; */
    /* overflow: hidden; */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
    padding-right: 3px;
    width: 100%;
    text-align: center;
    background-color: rgba(162, 210, 247, 0.17);
}
.webtext{
  background-color: rgba(162, 210, 247, 0.17);
  text-align: center;
  display: none;
}
.mdl-card__actions{
  background-color:#a2d2f71a;
}

.buttons_center_card {
  margin-top: 8rem;
}
.buttonvalg {
  margin: auto;
  display: table;
  margin-top: 10px;
  width: 22rem;
  height: 4rem;
  font-size: 1.5rem;
  background-color: #01579b;
  border-color: black;
  border-width: 1px;
  border-radius: 6px;
  color: #ffffff;

}
.material-icons {
    font-size: 61px;
  }

.demo-card-square.mdl-card {
  width: 320px;
  height: 435px;
  margin-top: 2rem;
  border-radius: 1rem;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('https://getmdl.io/assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

body {
  background: #fafafa;
  position: relative;
}
